<!--Books#show-->



  <div class ="container px-5 px-sm-0">
    <div class = "row">
       <%= render 'side', user: @user, osakenew: @osakenew, osake: @osake %>
      <div class = "col-md-8 offset-md-1">
        <h2>osake detail</h2>

        <table class = "table">
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(@osake.user_id) do %>
                  <%= image_tag @user.get_profile_image(100,100) %></br>
                  <%= @user.name %>
                <% end %>
              </td>
              <td><%= link_to @osake.title, osake_path(@osake.id) %></td>
              <td><%= @osake.body %></td>
              <%if @osake.user == current_user %>
                <td><%= link_to "Edit", edit_osake_path(@osake.id), class: 'btn btn-success' %></td>
                <td><%= link_to "Destroy", osake_path(@osake.id), method: :delete, "data-confirm" => "本当に消しますか？" ,class: 'btn btn-danger'  %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>